// styles.scss

body {
  padding: 0 150px;
}

.content {
  margin-left: 300px; /* This should match the width of your sidebar */
  padding-top: 60px; /* This should match the height of your header */
  padding: 20px;
  display: flex;
  flex-direction: column;

  .sections {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .section {
      background: #f0f0f0;
      padding: 20px;
      border-radius: 8px;

      .section-title {
        margin-bottom: 10px;
        font-size: 1.5em;
      }

      .section-content {
        display: flex;
        overflow-x: auto;

        .section-item {
          min-width: 150px;
          margin-right: 10px;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          align-items: center;

          img {
            width: 100%;
            border-radius: 8px;
          }

          p {
            margin-top: 5px;
            text-align: center;
          }
        }
      }
    }
  }
}
