.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
    align-items: center;
    text-align: center;

    .navbar-left {
        max-width: 100%;

        img {
            height: 150px;
            width: 150px;
        }
    }

    .profile {
        img {
            height: 40px;
            width: 40px;
        }
    }

}
