.sidebar {
    position: fixed;
    top: 150px;
    left: 150px;
    width: 200px;
    height: 80vh;
    padding: 0 150px;
    position: fixed;
    
    ul {
      list-style: none;
      padding: 0;
      
      li {
        margin: 50px 0;
        
        a {
          color: #000000;
          text-decoration: none;
          display: flex;
          align-items: center;
          
          svg {
            margin-right: 10px;
          }
          
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  